DB_HOST=db.taxi
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=taxi
POSTGRES_BASE_URI=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
POSTGRES_URI=${POSTGRES_BASE_URI}?options=-c%20search_path%3Ddata,public
